*{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.body{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-container{
    height:100%;
    border-radius: 15px;
    margin: 25px 30px ;
    border: solid 1px gray;
    border-width:0 6px 6px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img:hover{
    animation:rotate 2s linear;
}

@keyframes rotate{
    from{
        transform: rotate(-360deg);
    }
}

.logoname{
    text-transform: uppercase;
    margin-left: .5em;
    color: aqua;
}

.searchbox{
    position: relative;
}

.searchbox input{
    padding: 5px 0 5px 25px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: .3s;
    color: black;
}

.container-body{
    height: 100%;
    display: grid;
    grid-template-columns: 18% auto;
}

.container-body .sidebar{
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.container-body .sidebar .profile .pro-img{
    height: 100px;
    width: 100px;
    margin: 10px auto;
    border-radius: 50px;
    border: solid 1px black;
    border-width: 1px 2px 2px 1px;
}

.container-body .sidebar .profile .pro-img i{
    display: inline-block;
    position: relative;
}

.container-body .sidebar .profile .pro-img .fa{
    color: black;
    height: 100%;
    width: 100%;
    margin: 10px auto 10px auto;
    font-size: 70px;
    text-align: center;
}

.container-body .sidebar .profile .pro-details{
    text-align: center;
    color: black;
    font-weight: bolder;
}

.container-body .sidebar ul{
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-body .sidebar ul li{
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 25px;
    list-style: none;
    border:solid 1px black;
    backdrop-filter: blur(15px);
    background: aqua;
}

.container-body .sidebar ul li:hover{
    background: black;
}

.container-body .sidebar ul li a{
    width: 100%;
    height: 100%;
    color:black;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}

.container-body .sidebar ul li a:hover{
    color: aqua;
}

.container-body .sidebar ul li a i{
    padding: 0 5px;
    color: black;
}

.main-body{
    margin: 10px 0;
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    float: right;
}

.table-layout{
    margin: auto;
    padding: 0;
    border-radius: 15px; 
    border: solid 1px black;
}

.add-button{
    margin: auto;
    padding-bottom: 10px;
    display: flex;
}

.session-msg{
    width: 20%;
    text-align: center;
    border-radius: 10px;
}

.form{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.heading{
  text-align: center;
}

.form-control option{
    color:black
}

#subject{
    background:black;
}

#message{
    font-weight: bold;
}

.color-black{
    color: black;
}

.active{
    background: burlywood;
    color: crimson;
}

.pagination{
    margin: 0;
    padding: 0;
    margin-top: 5px;
}